@model IEnumerable<SISTEMEMPRESA.Models.SEGROLOPERACION>

@{
    ViewBag.Title = "RolOperacion";
    Layout = "~/Views/Shared/_LayoutSeguridad.cshtml";
}

<div style="background-color:midnightblue">
    <h2 style=" text-align: center; color: whitesmoke; font-family: courier"> REGISTRO DE ROL OPERACIONES</h2>
</div>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SEGMODULO.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGOPERACION.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGROL.detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SEGMODULO.detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEGOPERACION.detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEGROL.detalle)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.IdSegRolOperacion }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdSegRolOperacion }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdSegRolOperacion })
        </td>
    </tr>
}

</table>
