@model SISTEMEMPRESA.Models.CNTBPLANDECUENTA

@{
    ViewBag.Title = "Eliminar Cuenta";
    Layout = "~/Views/Shared/_LayoutContabilidad.cshtml";
}

<h2>Eliminar Plan De Cuenta</h2>

<h4>¿Estas seguro de querer eliminar esta cuenta?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCntbPlanDeCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCntbPlanDeCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naturaleza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naturaleza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
