@model SISTEMEMPRESA.Models.SEGMODULO

@{
    ViewBag.Title = "Eliminar Modulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ELIMINAR REGISTRO</h3>

<small style="color:red"><em>Nota: El registro se eliminará definitivamente</em></small>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a lista", "Index")
        </div>
    }
</div>
