@model SISTEMEMPRESA.Models.CNTBSALDOCONTABLE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutContabilidad.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CNTBSALDOCONTABLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaContable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoContableDebe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoContableDebe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoContableHaber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoContableHaber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNTBREGDETALLECONT.GlosaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNTBREGDETALLECONT.GlosaContable)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
