@model SISTEMEMPRESA.Models.CNTBSALDOCONTABLE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutContabilidad.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CNTBSALDOCONTABLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaContable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoContableDebe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoContableDebe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoContableHaber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoContableHaber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNTBREGDETALLECONT.GlosaContable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNTBREGDETALLECONT.GlosaContable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCntbSaldoContable }) |
    @Html.ActionLink("Back to List", "Index")
</p>
