@model IEnumerable<SISTEMEMPRESA.Models.AUDCNTBDETC>

@{
    ViewBag.Title = "Auditorias Detalles Contables";
    Layout = "~/Views/Shared/_LayoutContabilidad.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudUsuarioModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudFechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudNombreServidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudAccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNTBREGDETALLECONT.GlosaContable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudUsuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudFechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudNombreServidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudAccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNTBREGDETALLECONT.GlosaContable)
        </td>
    </tr>
}

</table>
