@model SISTEMEMPRESA.Models.SEGUSUARIOSISTEMA

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>DETALLE DEL USUARIO</h3>

<div>
    <h4>Detalle:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioSistema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioSistema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGDEPARTAMENTO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGDEPARTAMENTO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGROL.detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGROL.detalle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdSegUsuarioSistema }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
