@model IEnumerable<SISTEMEMPRESA.Models.SEGUSUARIOSISTEMA>

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutSeguridad.cshtml";
}

<div style="background-color: midnightblue">
    <h2 style=" text-align:center; color:whitesmoke; font-family:courier"> USUARIOS DEL SISTEMA</h2>
</div>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioSistema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGDEPARTAMENTO.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEGROL.detalle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioSistema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEGDEPARTAMENTO.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEGROL.detalle)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.IdSegUsuarioSistema }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdSegUsuarioSistema }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdSegUsuarioSistema })
            </td>
        </tr>
    }

</table>
