@model IEnumerable<SISTEMEMPRESA.Models.SEGDEPARTAMENTO>

@{
    ViewBag.Title = "departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: midnightblue ">
    <h2 style=" text-align: center; color: whitesmoke; font-family: courier"> REGISTRO DE DEPARTAMENTOS</h2>
</div>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.IdSegDepartamento }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdSegDepartamento }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdSegDepartamento })
        </td>
    </tr>
}

</table>
